[submodule "ios/12-coups-midi/12-coups-midi/libs/MKStoreKit"]
  path = ios/12-coups-midi/12-coups-midi/libs/MKStoreKit
  url = https://github.com/ChuguluGames/MKStoreKit.git
[submodule "ios/TriviaContainer/TriviaContainer/libs/MKStoreKit"]
	path = ios/TriviaContainer/TriviaContainer/libs/MKStoreKit
	url = git://github.com/ChuguluGames/MKStoreKit.git
