@import 'nib'
@import 'mixins'

.credits
  width: 100%
  height: 100%
  background: white
  .background
    width: 100%
    height: 100%
    absolute: left 0% top 0%
    background-image: url('../images/common/background.jpg')
    background-size: 100% 100%
    background-repeat: no-repeat
    .logo
      absolute: top 30%
      width: 15em
      height: 10em
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      &#lequipe
        left: 10%
        background-image: url('../images/credits/logo_lequipe.png')
      &#chugulu
        right: 10%
        background-image: url('../images/credits/logo_chugulu.png')

  #close-btn
    width: 7.8%
    height: 11.7%
    absolute: top 1% left 0.7%
    background-image: url('../images/common/close.png')
    background-size: contain
    background-repeat: no-repeat
    &:active
      background-image: url('../images/common/close_a.png')
