@import 'mixins'
@import 'nib'

#iphone5bg
  &.hall-of-fame-page-568h
    background-image: url('../images/common/background.jpg')
    background-size: 100% 100%

#global-container
  &.iphone5
    .hall-of-fame-page
      background: none
      #numbers
        right: 0
    // #btn_HoF
    //   left: 9.2%
    // .div-ranking
    //   width: 98.8%
    // .rank-separator
    //   width: 98.8%

.hall-of-fame-page
  width: 100%
  height: 100%
  background-image: url('../images/common/background.jpg')
  background-repeat: no-repeat
  background-size: 100% 100%
  z-index: 1

  #fixBackgroundiPad
    width: 100%
    height: 100%
    opacity: 0
    position: relative
    z-index: 1

  .home-btn
    position: absolute
    top: 2.8%
  .home-btn
    width: 7.4%
    height: 12%
    display: inline-block
    background-image: url('../images/common/close.png')
    background-repeat: no-repeat
    background-size: contain
    absolute: top 1% left 0.7%
    z-index: 6
    cursor: pointer
  .content-container
    width: 75%
    height: 90%
    absolute: top 3% left 0
    z-index: 5
    .spinner
      width: 6em
      height: 6em
      absolute: left 66% top 50%
      background-image: url('../images/spinner/spinner2.gif')
      background-size: contain
      background-repeat:no-repeat
    .ranking-header
      width: 76%
      height: 14%
      display:inline-block
      absolute: left 27% top 17.5%
      background-repeat: no-repeat
      background-size: contain
      transition: all 0.3s ease
      &.active
        top: 5.5%
      &.friends
        background-image: url('../images/hall-of-fame/classement_amis.png')
      &.tournament
        background-image: url('../images/hall-of-fame/tournoi.png')
        letter-spacing: 0.5em
        font-size: 1.4em
        #HoF-days
          absolute: left 45% top 30%
        #HoF-hours
          absolute: left 59% top 30%
        #HoF-min
          absolute: left 73% top 30%
    .level
      width: 10%
      height: 8%
      display:inline-block
      absolute: right -19% top 10%
      font: 1.5em grilled
      color: #252525
      text-align: right
      transition: all 0.3s ease
      &.hiddened
        top: 18%
    #btn_HoF
      absolute: top 20% left 3%
      height: 50%
      width: 23%
      .category
        padding-top: 39%
        font: 2.2em ramblabold
        text-align: center
        height: 50%
        width: 100%
        border-radius: 0.3em 0 0 0.3em
        cursor: pointer
        margin-top: -0.9%
        background-color: #878787
        background-position: center 23%
        background-repeat: no-repeat
        color: #c2c1c1
        &.active
          background-color: #d60000
          color: white
      .friends
        background-image: url('../images/hall-of-fame/icon_friends.png')
        background-size: 1.4em
        margin-bottom: 4%
      .friends-alltime
        background-image: url('../images/hall-of-fame/icon_friends.png')
        background-size: 1.4em
        margin-bottom: 4%
      .global
        background-image: url('../images/hall-of-fame/icon_global.png')
        background-size: 0.8em
    #btn-invite
      width: 7em
      height: 5em
      absolute: bottom 3% left 3%
      background-image: url('../images/home/+2amis/inviter.png')
      background-size: contain
      background-repeat: no-repeat
    .ranking-container-image
      border: 0.3em solid #d60000
      border-radius: 0.3em
      overflow-y: hidden
      width: 100%
      height: 90%
      absolute: left 25% bottom -6%
      background-color: white
      .ranking-container
        overflow-y: scroll
        -webkit-backface-visibility: hidden
        -webkit-overflow-scrolling: touch
        width: 100%
        height: 100%
        div:nth-of-type(1)
          .rank.icon
            background-image: url('../images/hall-of-fame/rank_1.png')
        div:nth-of-type(2)
          .rank.icon
            background-image: url('../images/hall-of-fame/rank_2.png')
        div:nth-of-type(3)
          .rank.icon
            background-image: url('../images/hall-of-fame/rank_3.png')
        #no-friends
          width: 40%
          height:20%
          background-image: url('../images/hall-of-fame/invite.png')
          background-size: contain
          background-repeat: no-repeat
          absolute: left 40% top 40%
        #no-fb-connected
          width: 40%
          height:20%
          background-image: url('../images/hall-of-fame/linkfb.png')
          background-size: contain
          background-repeat: no-repeat
          absolute: left 30% top 40%
        .rank_separator
          display: block
          width: 100%
          height: 6%
          padding-left: 3%
          background-size: 100%
          font-family: ramblabold
          background-color: #c80000
          color: white
        .range_separator
          width: 100%
          height: 6%
          background-size: 100%
          font-family: ramblabold
          text-align: center
          color: #3d3d3d
          background-color: #c1c1c1

        .separator
          width: 99%
          height: 2%
          background-image: url('../images/hall-of-fame/line.png')
          background-size: 100%
        .redSeparator
          width: 100%
          height: 2%
          margin-left: 0%
          background-color: rgb(226, 23, 23)
        .div-ranking
          width: 100%
          height: 4em
          color: #4e4e4e
          font-family: ramblabold
          background-size: 100%
          &.moreFriends
            border: 1px solid rgb(226, 23, 23)
            background-color: rgb(250, 245, 242)
          &:nth-child(even)
            background-color: #f5d0d0
          &:nth-child(odd)
            background-color: #fef8f8
          div,span
            display: inline-block !important
            float: left
          .invite-btn
            cursor: pointer
            margin-top: 1%
            position: absolute
            right: 0%
            width: 9%
            height: 7%
            background-image: url('../images/hall-of-fame/icon-feature-invite.png')
            background-size: contain
            background-repeat: no-repeat
          .rank
            width 14%
            height: 100%
            text-align: center
            font-size: 1.5em
            padding-top: 0.7em
            &.icon
              background-size: 40%
              background-repeat: no-repeat
              background-position: center
          .photo
            height: 3.8em
            width: 3.8em
            margin-top: 0.1em
            background-repeat: no-repeat
            background-size: 100% 100%
            background-image:url(../images/common/facebook-default.jpg)
            &.loading
              background-position: center !important
              background-size: 1em 1em !important
              background-image:url(../images/spinner/smallspinner.gif) !important
          .username
            padding-left: 0.5em
            // padding-top: 0.8em
            width: 40%
            height: 100%
            line-height: 3em
            font-size: 1em
            color: #2b2b2b
          .money
            relative: right -17%
            font-size: 1.4em
            width: 18%
            height: 100%
            text-align: center
            padding-top: 0.9em
          .ask-friend
            cursor: pointer
            relative: top 12% left -16%
            width: 13%
            height: 100%
            background-image: url('../images/hall-of-fame/vie_toask.png')
            background-size: contain
            background-repeat: no-repeat
            &.asked
              background-image: url('../images/hall-of-fame/vie_asked.png')
