@import 'nib'
@import 'mixins'


#global-container
  &.iphone5
    .login-page-container
      #sso-login-form, #sso-register-form
        width: 33% !important
        .submit-btn
          left: 36% !important
          bottom: 5% !important
        .form-title
          margin-left: 25% !important
      #sso-login-form
        left: 9% !important
      #sso-register-form
        right: 9% !important
      .or
        width: 2.5% !important
      #flipper
        .btn-container
          width: 47% !important

.login-page-container
  width: 100%
  height: 100%
  perspective: 1000
  text-align: center
  background-repeat: no-repeat
  background-image: url("../images/login/bg_login.png")
  background-size: 100% 100%
  #flipper
    width: 100%
    height: 100%
    transition: 0.4s
    transform-style: preserve-3d
    relative: top 0 left 0
    &.flipped
      transform: rotateY(180deg)
    .btn-container, #equipe-forms, #temp-form
      backface-visibility: hidden
      absolute: top 0 left 0
    .btn-container
      z-index: 2
      width: 57.189%
      height: 40%
      relative: top 52% left 0
      margin: 0 auto
      .facebook-login, .equipe-login, .temp-login
        display: block
        height: 100%
        background-repeat: no-repeat
        background-size: contain
        margin: 0 auto
      .facebook-login
        width: 100%
        height: 32.8%
        background-image: url("../images/login/connexionfb.png")
      .equipe-login
        width: 83.425%
        height: 32.8%
        margin-top: 9%
        background-image: url("../images/login/compteequipe.png")
      .temp-login
        width: 83.425%
        height: 32.8%
        margin-top: 1%
        background-image: url("../images/login/tempbtn.png")

    #equipe-forms
      background-repeat: no-repeat
      background-image: url("../images/common/background.jpg")
      background-size: 100% 100%
      transform: rotateY(180deg)
      width: 100%
      height: 100%
      absolute: top 0 left 0
      .invalid
        color: red
        border: 1px solid red

      input
        margin-bottom: 12%
        font-size: 2em
        width: 100%
        padding: 0
        border-radius: 0.2em
      .or
        background-repeat: no-repeat
        background-image: url("../images/login/or.png")
        background-size: 100% 100%
        width: 3%
        height: 93%
        relative: top -1% left 0
        margin: 3% auto 5%

    #equipe-forms, #temp-form
      #sso-login-form, #sso-register-form
        width: 40%
        height: 80%
        absolute: top 13%
        text-align: center
        .hidden-submit
          absolute: top -200%
        .form-title
          background-repeat: no-repeat
          background-size: contain
          width: 57%
          height: 13%
          margin: 0 auto
        .submit-btn
          width: 31%
          height: 14%
          // margin: 0 auto
          absolute: bottom 10% left 32%
          background-image: url(../images/login/ok.png)
          background-size: contain
          background-repeat: no-repeat
          &:active
            background-image: url(../images/login/ok_a.png)
      #sso-login-form
        left: 5%
        input
          margin-bottom: 16%
        .form-title
          margin-bottom: 21%
          background-image: url(../images/login/se_connecter.png)
        .submit-btn
          margin-top: 5%
      #sso-register-form
        right: 5%
        .form-title
          margin-bottom: 10%
          background-image: url(../images/login/creer_compte.png)
      #close-btn
        cursor: pointer
        width: 4.7%
        height: 10%
        absolute: top 2% left 0.7%
        display: block
        background-repeat: no-repeat
        background-size: contain
        background-image: url(../images/common/close.png)
        &:active
          background-image: url(../images/common/close_a.png)

    #temp-form
      background-repeat: no-repeat
      background-image: url("../images/common/background.jpg")
      background-size: 100% 100%
      transform: rotateY(180deg)
      width: 100%
      height: 100%
      absolute: left 0 top 0
      padding-top: 17%

      #temp-btn
        margin-top 2%
