@import 'nib'
@import 'mixins'

.login-page-container
  width: 100%
  height: 100%
  text-align: center
  background-repeat: no-repeat
  background-image: url("../images/login/bg_login.png")
  background-size: contain
  position: relative
  .btn-container
    width: 57.189%
    height: 40%
    relative: top 41%
    margin: 0 auto
    .facebook-login, .equipe-login
      display: block
      height: 100%
      background-repeat: no-repeat
      background-size: contain
      margin: 0 auto
    .facebook-login
      width: 100%
      height: 32.8%
      background-image: url("../images/login/connexionfb.png")
    .equipe-login
      width: 83.425%
      height: 32.8%
      margin-top: 9%
      background-image: url("../images/login/compteequipe.png")

  #equipe-forms
    display: none
    width: 100%
    height: 70%
    absolute: top 5%
    background: white
    &.shown
      display: block
    #close-btn
      cursor: pointer
      width: 4.7%
      height: 10%
      absolute: top 2% left 0.7%
      display: block
      background-repeat: no-repeat
      background-size: contain
      background-image: url(../images/common/close.png)
      &:active
        background-image: url(../images/common/close_a.png)
    .invalid
      color: red
      border: 1px solid red