@import 'nib'
@import 'mixins'


#global-container
  .profile-page-568h
    background-color: white
    background-size: 100% 100%
    background-image: url(../images/common/background.jpg)
  &.iphone5
    .profile-page
      .background
        background: none
      .home-btn
        left: -8%
      #right-block
        right: -9.5%
      .picture-container
        margin-left: 6%
      .personal-info
        left: 31%
      .stats
        left: -9.5%
        width: 105%
        div
          margin-top: 2%
          margin-left: 7%
          table
            width: 98%
        .stat1
          width: 43%
        .stat2
          width: 37%


.profile-page
  width:100%
  height:100%
  position:relative
  font-family: ramblabold
  font-size: 1.1em
  .background
    width:100%
    height:100%
    position: absolute
    background-color: white
    background-size: 100% 100%
    background-image: url(../images/common/background.jpg)
    .picture-container
      height: 35%
      width: 21%
      display: inline-block;
      margin-left: 14%
      margin-top: 3%
      padding-top: 0.1em
      .picture
        box-shadow: 0 0 1em #aaa
        border: 0.5em solid white
        margin: 0 auto
        height: 7.5em
        width: 7.5em
        background-color: white
        background-size: 100% 100%
        background-repeat: no-repeat
        background-image: url(../images/profile/linkfb.png)
        &.loading
          background-position: center !important
          background-size: 1.5em 1.5em !important
          background-image:url(../images/spinner/smallspinner.gif) !important
      .name
        width: 90%
        height: 25%
        margin: auto
        text-align: center
        font-size: 1.3em

    .personal-info
      font-family: open_sansextrabold
      display: inline-block
      height: 13%
      width: 25%
      absolute: top 15% left 35%
      #level, #score
        width: 48%
        height: 100%
        float: left
        .title, .value
          text-align: center
        .value
          line-height: 3em
      #level
        border-right: 1px solid #ddd
        .value
          font-size: 1.5em
          color: #c50000
          line-height: 1.5em
      #score
        .value
          line-height: 2.25em
    .buttons
      display: inline-block
      height: 9em
      width: 9.35em
      absolute: right 16% top 10%
      .hall-of-fame
        display: inline-block
        height: 40%
        width: 100%
        background-size: contain
        background-repeat: no-repeat
        background-image: url('../images/profile/bt_ranking.png')
      .game-center
        display: inline-block
        height: 40%
        width: 100%
        background-size: contain
        background-repeat: no-repeat
        background-image: url('../images/profile/bt_gamecenter.png')
    .stats
      display: inline-block
      height: 57%
      width: 87%
      absolute: bottom 0% left 0%
      box-shadow: inset 0 0 0.4em #ccc
      background: linear-gradient(right, rgba(0,0,0,0.1), rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.1))
      div
        display: inline-block
        height: 74%
        margin-top: 4%
        margin-left: 2%
        table
          box-shadow: 0 0 0.4em #ccc
          width: 100%
          height: 100%
          tbody
            width: 100%
            tr
              width: 100%
              border-bottom: 1px solid #ddd
              &:last-child
                border-bottom: none
              th
                background-color: black
                color: white
              td
                color:black
                background-color: white
                text-align: center
                &.value
                  color: #c50000
              th, td
                padding: 0.2em 0
                &:first-child
                  border-right: 1px solid #ddd
      .stat1
        width: 50%
        table
          tbody
            tr
              .left
                width: 60%
      .stat2
        width: 43%
        table
          tbody
            tr
              .left
                width: 50%

  #right-block
    width: 14%
    height: 100%
    absolute: right 0 top 0
    .informations
      absolute: top 0% right 0%
      height: 18%
      width: 92%
      font-size: 1.5em
      .cash
        width:100%
        height: 45%
        .cash-value
          text-align:right
          absolute: top 9% right 48%
        .cash-icone
          absolute: top 11% right 16%
          width:28%
          height:35%
          background-size: contain
          background-repeat: no-repeat
          background-image: url('../images/home/common/credit.png')
      .lifes
        width: 100%
        height: 45%
        .lifes-value
          text-align: right
          absolute: top 50% right 48%
        .lifes-icone
          absolute: top 55% right 16%
          width: 28%
          height: 35%
          background-size: contain
          background-repeat: no-repeat
          background-image: url('../images/home/common/heart.png')
          -webkit-animation-name: 'heart_pulse'
          -webkit-animation-duration: 1200ms
          -webkit-transform-origin: 50% 50%
          -webkit-animation-iteration-count: infinite
          -webkit-animation-timing-function: ease
    .bonus
      absolute: right 0 bottom 0
      height: 82%
      width: 100%
      background-color: white
      border-radius: 0.5em 0 0 0
      box-shadow: 0 0 0.5em #aaa
      .elem
        width: 74%
        height:15%
        absolute: right 14%
        background-size: contain
        background-repeat: no-repeat
        &.double
          top: 5%
          background-image: url('../images/ingame/bonus/x2.png')
        &.mass
          top: 25%
          background-image: url('../images/ingame/bonus/stats.png')
        &.fifty_fifty
          top: 45%
          background-image: url('../images/ingame/bonus/5050.png')
        &.add_time
          top: 65%
          background-image: url('../images/ingame/bonus/+10s.png')
        &.skip
          top: 85%
          background-image: url('../images/ingame/bonus/skip.png')
        .number
          height: 46%
          width: 37%
          absolute: top -19% right -15%
          background: #c50000
          text-align: center
          border-radius: 400%
          color: white
          font-size: 1.2em
  .header
    absolute: top 0% left 0%
    width: 100%
    height: 16%
    .home-btn
      absolute: left 2% top 5%
      width: 3.4em
      height: 3.4em
      background-size: contain
      background-repeat: no-repeat
      background-image: url('../images/common/home.png')
    .logout
      absolute: left 2% top 160%
      width: 3.4em
      height: 3.4em
      background-size: contain
      background-repeat: no-repeat
      background-image: url('../images/common/close.png')
