@import 'nib'
@import 'mixins'

#iphone5bg
  &.shop-page-568h
    background-image: url("../images/common/background.png")
    background-size: 100% 100%

#global-container
  &.iphone5
    .shop-page
      background: none
      .home-btn
        left: -8%
      #numbers
        width: 110%
      .paid-pack
        .marker
          top: -12% !important
        .value
          top: -12% !important
        .credit-icon
          top: -6% !important

.shop-page
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-image: url("../images/common/background.png")
  background-size: 100% 100%
  position: relative
  .home-btn
    absolute: top 1% left 6%
    width: 8%
    height: 11%
    display: inline-block
    background-image: url('../images/ingame/bt_home.png')
    background-repeat: no-repeat
    background-size: contain
    cursor: pointer

  .tabs-container
    absolute: top 14% left 18%
    width: 39%
    height: 7%
    .tab
      display: inline-block
      width: 40%
      height: 100%
      position: relative
      background-repeat: no-repeat
      background-size: cover
      cursor: pointer
    #credits
      width: 33.1%
      &.active
        background-image: url("../images/shop/jeton.png")
      &.inactive
        background-image: url("../images/shop/jeton_inactive.png")
    #bonuses
      left: -2.2%
      width: 50%
      &.active
        background-image: url("../images/shop/bonusvies.png")
      &.inactive
        background-image: url("../images/shop/bonusvies_inactive.png")

  .tab-container
    absolute: top 20% left 8%
    width: 81%
    height: 72%
    background-image: url("../images/shop/box2.png")
    background-repeat: no-repeat
    background-size: contain
    .content-container
      width: 100%
      height: 100%

    #credits
      .title
        background-repeat: no-repeat
        background-size: contain
        margin-bottom: 5%
        margin-left: 8%
        width: 84%
        height: 13%
      .offers
        absolute: top 4%
        width: 45%
        height: 90%
        display: inline-block
        .pack
          relative: top 4%
          width: 100%
          height: 15%
          margin-bottom: 5%
          background-repeat: no-repeat
          background-size: contain
          display: block
          cursor: pointer
      .paid-offers
        right: 3%
        .title
          background-repeat: no-repeat
          background-size: contain
          background-image: url(../images/shop/Jetons/payants.png)
        .paid-pack
          background-image: url("../images/shop/Jetons/pack_x.png")
          background-repeat: no-repeat
          background-size: contain
          .marker
            relative: top -4% left 7%
            font-size: 2.3em
            color: white
          .value
            relative: top -5% left 6%
            font-size: 1.6em
            font-family: dax
            color: white
            display: inline-block
            width: 30%
            text-align: right
          .credit-icon
            relative: top 3% left 5%
            display: inline-block
            width: 9.2%
            height: 53.5%
            background-image: url("../images/home/common/credit.png")
            background-repeat: no-repeat
            background-size: contain
          .price
            color: white
            font-size: 1.3em
            font-family: open_sansextrabold
            text-align: right
            absolute: right 7%
            height: 100%
            padding: 2.5% 0
        .unavailable
          opacity : 0.6

      .free-offers
        left: 3%
        .title
          background-image: url(../images/shop/Jetons/gratuits.png)
        .free-pack
          &:nth-child(3)
            margin-top: 1%
          span
            relative: top 13% left 59%
            font-size: 1.8em
            color: yellow
            font-family: dax
        #adcolony
          background-image: url("../images/shop/Jetons/video.png")
        #tapjoy
          background-image: url("../images/shop/Jetons/offre.png")
        #invite_friends
          background-image: url("../images/shop/Jetons/invite.png")
        #facebook_like
          background-image: url("../images/shop/Jetons/like_us.png")
        #twitter
          background-image: url("../images/shop/Jetons/twitter.png")
        #app_store_rating
          background-image: url("../images/shop/Jetons/rate.png")

    #bonus
      .life-container
        display: inline-block
        absolute: top 6% left 4%
        width: 29%
        height: 86%
        .life-pack
          relative: left 2%
          width: 100%
          height: 15%
          margin-bottom: 11%
          background-repeat: no-repeat
          background-size: contain
          background-image: url(../images/shop/life_and_bonus/x_vies.png)
          cursor: pointer
          .value, .price
            color: white
            text-align: right
            height: 100%
            position: absolute
            font-family: open_sansextrabold
          .value
            left: 2%
            width: 30%
            padding: 2% 0
            font-size: 1.4em
          .price
            width: 29%
            right: 19%
            padding: 5% 0
            font-size: 1.1em
      #bonus-packs
        width: 55%
        height: 86%
        absolute: top 6% right 6%
        .bonus-pack
          width: 100%
          height: 30%
          margin-bottom: 4%
          background-repeat: no-repeat
          background-size: contain
          background-image: url("../images/shop/life_and_bonus/x_bonus.png")
          cursor: pointer
          .value, .price
            color: white
            height: 100%
            position: absolute
            font-family: open_sansextrabold
          .value
            text-align: center
            left: 48%
            width: 16%
            padding: 9% 0
            font-size: 1.4em
          .price
            text-align: right
            width: 23%
            right: 11.5%
            padding: 7% 0
            font-size: 2em
