@import 'nib'
@import 'mixins'

#iphone5bg
  &.shop-page-568h
    background-image: url("../images/common/background.png")
    background-size: 100% 100%

#global-container
  &.iphone5
    .shop-page
      background: none
      .home-btn
        left: -8%
      #numbers
        width: 110%

.shop-page
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-image: url("../images/common/background.png")
  background-size: 100% 100%
  position: relative
  .home-btn
    absolute: top 1% left 6%
    width: 8%
    height: 11%
    display: inline-block
    background-image: url('../images/ingame/bt_home.png')
    background-repeat: no-repeat
    background-size: contain
    cursor: pointer

  .tabs-container
    absolute: top 5% left 18%
    width: 44%
    height: 12%
    .tab
      color: white
      font-family: open_sansextrabold
      font-size: 1.5em
      text-align: center
      padding: 3% 4%
      display: inline-block
      height: 100%
      position: relative
      cursor: pointer
      background-color: #c70000
      &.inactive
        background-color: grey
        color: #eee
    #credits
      border-top-left-radius: 0.2em
    #bonuses
      left: -2.2%
      border-top-right-radius: 0.2em

  .tab-container
    absolute: top 16% left 4%
    width: 41em
    height: 24em
    background-image: url("../images/shop/box2.png")
    background-repeat: no-repeat
    background-size: contain
    .content-container
      width: 100%
      height: 100%

    #credits
      .title
        background-repeat: no-repeat
        background-size: contain
        margin-bottom: 5%
        margin-left: 8%
        width: 84%
        height: 13%
      .offers
        absolute: top 4%
        width: 45%
        height: 90%
        display: inline-block
        .pack
          relative: top 4%
          width: 100%
          height: 15%
          margin-bottom: 5%
          background-repeat: no-repeat
          background-size: contain
          display: block
          cursor: pointer
      .paid-offers
        right: 5%
        .title
          background-repeat: no-repeat
          background-size: contain
          background-image: url(../images/shop/Jetons/payants.png)
        .paid-pack
          background-image: url("../images/shop/Jetons/pack_x.png")
          background-repeat: no-repeat
          background-size: contain
          .marker
            absolute: left 3%
            font-size: 2.3em
            color: white
            padding: 2.5% 4%
            height: 100%
            font-family: dax
          .value
            absolute: left 19%
            font-size: 2em
            font-family: dax
            color: white
            padding: 3.5% 0
            width: 30%
            height: 100%
            text-align: right
          .credit-icon
            absolute: top 20% left 52%
            width: 9.2%
            height: 53.5%
            background-image: url("../images/home/common/credit.png")
            background-repeat: no-repeat
            background-size: contain
          .price
            color: white
            font-size: 1.4em
            font-family: open_sansextrabold
            text-align: right
            absolute: right 8.5%
            height: 100%
            padding: 2.5% 0
        .unavailable
          opacity : 0.6

      .free-offers
        left: 3%
        .title
          background-image: url(../images/shop/Jetons/gratuits.png)
        .free-pack
          &:nth-child(3)
            margin-top: 1%
          .value
            absolute: right 17%
            font-size: 1.4em
            font-family: open_sansextrabold
            color: white
            display: inline-block
            width: 17%
            height: 100%
            padding: 3% 0
            text-align: center
        #adcolony
          background-image: url("../images/shop/Jetons/video.png")
        #tapjoy
          background-image: url("../images/shop/Jetons/offre.png")
        #invite_friends
          background-image: url("../images/shop/Jetons/invite.png")
        #facebook_like
          background-image: url("../images/shop/Jetons/like_us.png")
        #twitter
          background-image: url("../images/shop/Jetons/twitter.png")
        #app_store_rating
          background-image: url("../images/shop/Jetons/rate.png")

    #bonus
      .life-container
        display: inline-block
        absolute: top 6% left 4%
        width: 29%
        height: 86%
        .life-pack
          width: 100%
          height: 15%
          margin-bottom: 11%
          background-repeat: no-repeat
          background-size: contain
          background-image: url(../images/shop/life_and_bonus/x_vies.png)
          cursor: pointer
          .value, .price
            color: white
            text-align: right
            height: 100%
            position: absolute
            font-family: open_sansextrabold
          .value
            left: 2%
            width: 30%
            padding: 2% 0
            font-size: 1.6em
          .price
            width: 29%
            right: 19%
            padding: 6.5% 0
            font-size: 1.1em
      #bonus-packs
        width: 55%
        height: 86%
        absolute: top 6% right 6%
        .bonus-pack
          width: 100%
          height: 30%
          margin-bottom: 4%
          background-repeat: no-repeat
          background-size: contain
          background-image: url("../images/shop/life_and_bonus/x_bonus.png")
          cursor: pointer
          .value, .price
            color: white
            height: 100%
            position: absolute
            font-family: open_sansextrabold
          .value
            text-align: center
            left: 47.5%
            width: 16%
            padding: 9% 0
            font-size: 1.6em
          .price
            text-align: right
            width: 23%
            right: 12%
            padding: 7% 0
            font-size: 2.1em
