<!-- HEADER BLOCK BEGIN -->
<div id='numbers'>
  <span id='hearts' class='number'>{{health}}</span>
  <span id='heart-icon' class='icon'></span>
  <span id='credits' class='number'>{{credits}}</span>
  <span id='credit-icon' class='icon'></span>
</div>
<div class="home-btn"></div>

<!-- CONTENT BLOCK BEGIN -->
<div class="content-container">
  <div class='ranking-header friends active'></div>
  <div class='ranking-header tournament'>
    <div id='HoF-days'></div>
    <div id='HoF-hours'></div>
    <div id='HoF-min'></div>
  </div>
  <div class="level hiddened">niv.{{rank}}</div>
  <div id="btn_HoF">
    {{!-- <div class="friends active category" id="btn-friends">Amis</div> --}}
    <div class="friends-alltime active category" id="btn-friends-alltime">Amis</div>
    <div class="global category" id="btn-global">Global</div>
  </div>
  <div id="btn-invite"></div>
  <div class="ranking-container-image">
    <div class="ranking-container"></div>
  </div>
  <div class="spinner"></div>
</div>

<div id='fixBackgroundiPad'></div>