<!-- HEADER BLOCK BEGIN -->
<a href="#home" class="home-btn"></a>
<div class="title"></div>
<div class="cash-container">
  <span class="cash-value">{{credits}}</span> <span id="cash-icon"></span>
</div>

<!-- CONTENT BLOCK BEGIN -->
<div class="content-container">
  <div id="rank">Niveau {{rank}}</div>
  <div class="ranking-container">
    <table class="weekly-ranking"></table>
  </div>
  <div class="btns-container">
    <a id="btn-friends" class="footer-btn active"></a>
    <a id="btn-opponents" class="footer-btn"></a>
    <a id="btn-game-center" class="footer-btn"></a>
  </div>
</div>
