<div id='numbers'>
  <span id='hearts' class='number'>{{hearts}}</span>
  <span id='heart-icon' class='icon'></span>
  <span id='credits' class='number'>{{credits}}</span>
  <span id='credit-icon' class='icon'></span>
</div>
<div id='logo'></div>

<div id='touch-me'>Touche pour afficher la Une</div>

<div id='menu'>
  <a class="game-link item" id="game-link"></a>
  <a href="#shop" class="shop-link item"></a>
  <div class="small-buttons-container">
    <a href="#hall-of-fame" class="hall-of-fame item"></a>
    <a href="#options" class="options-link item"></a>
  </div>
</div>
<a href="#more-games" class="more-games-link"></a>
