<div id='numbers'>
  <span id='hearts' class='number'>{{hearts}}</span>
  <span id='heart-icon' class='icon'></span>
  <span id='credits' class='number'>{{credits}}</span>
  <span id='credit-icon' class='icon'></span>
</div>
<div id='logo'></div>

<div id='touch-me'>Touche pour afficher la Une</div>
<div class='journal-container no-friends shown'>
  <div id='equipe-btn'></div>
  <div id='date'>EDITION DU {{date}}</div>
  <div id='title'><span id='exculsive'>exclusif !</span> forever a.</div>
  <div id='photo-container'><div id='photo' style='background-image:url(http://media.comicvine.com/uploads/7/77914/2109064-4char_forever_alone_guy_high_resolution_icon.png)'></div></div>
  <div id='message'>joue a sport quiz mais n'a toujours pas d'amis !</div>
  <a id='invite-btn'></a>
  <div id='countdown'>
    <span id='days' class='number'>00</span>
    <span id='hours' class='number'>00</span>
    <span id='minutes' class='number'>00</span>
  </div>
  <div id='ranking'>
    <span class='participant'>
      <div class='rank'>1</div>
      <div class='photo' style='background-image:url(https://graph.facebook.com/pierre.chugulu/picture?width=90&height=90)'></div>
      <div class='blaze'>Toto T.</div>
      <div class='score'>22 999</div>
    </span>
    <span class='spacer'></span>
    <span class='participant'>
      <div class='rank'>100</div>
      <div class='photo' style='background-image:url(https://graph.facebook.com/francois.chugulu/picture?width=90&height=90)'></div>
      <div class='blaze'>Tata T.</div>
      <div class='score'>2 999</div>
    </span>
    <span class='spacer'></span>
    <span class='participant'>
      <div class='rank'>1000</div>
      <div class='photo' style='background-image:url(https://graph.facebook.com/vincent.chugulu/picture?width=90&height=90)'></div>
      <div class='blaze'>Tutu T.</div>
      <div class='score'>999</div>
    </span>
  </div>
</div>

<div id='menu'>
  <a class="game-link item" id="game-link"></a>
  <a href="#shop" class="shop-link item"></a>
  <div class="small-buttons-container">
    <a href="#profile" class="profile-link item"></a>
    <a href="#options" class="options-link item"></a>
  </div>
</div>
<a href="#more-games" class="more-games-link"></a>