<a href="#more-games" class="more-games-link"></a>
<a class="game-link" id="game-link"></a>
<div class="footer-links-container">
  <a href="#profile" class="profile-link"></a>
  <a href="#masters" class="masters-link"></a>
  <a href="#shop" class="shop-link"></a>
  <a href="#invite" class="invite-link"></a>
  <a href="#options" class="options-link"></a>
</div>
