<div id='flipper'>
  <div class="btn-container">
    <a href="#" id="facebook-login" class="facebook-login"></a>
    <a href="#" id="equipe-login" class="equipe-login"></a>
  </div>
  <div id='equipe-forms'>
    <a id='close-btn'></a>
    <form name='sso-login' id='sso-login-form' action='#'>
      <input type='text' name='username' placeholder='username' required /><br />
      <input type='password' name='password' placeholder='password' required /><br />
      <input type='image' value='login' name='submit' id='login-btn' src='images/login/connect_button.png'/>
    </form>
    <div class='or'></div>
    <form name='sso-register' id='sso-register-form' action='#'>
      <input type='email' name='email' placeholder='email' required /><br />
      <input type='text' name='username' placeholder='username' required /><br />
      <input type='password' name='password' placeholder='password' required /><br />
      <input type='image' value='register' name='submit' id='register-btn' src='images/login/subscription.png'/>
    </form>
  </div>
</div>