<div class="btn-container">
  <a href="#" id="facebook-login" class="facebook-login"></a>
  <p>or</p>
  <form name='sso-login' id='sso-login-form' action='#'>
    <input type='text' name='username' placeholder='username' /><br />
    <input type='password' name='password' placeholder='password' /><br />
    <input type='submit' value='login' name='submit' id='login-btn' />
  </form>
  <p>or</p>
  <form name='sso-register' id='sso-register-form' action='#'>
    <input type='email' name='email' placeholder='email' /><br />
    <input type='text' name='username' placeholder='username' /><br />
    <input type='password' name='password' placeholder='password' /><br />
    <input type='submit' value='register' name='submit' id='register-btn' />
  </form>
</div>