<div id='flipper'>
  <div id='text-container'>
    <div id="welcome">Bienvenue</div>
    <div id='life-credits'>10 Vies et 150 Crédits offerts !
      <div id='invite-bonus'>+ 1 Vie pour chaque ami(e) invité(e)</div>
    </div>
  </div>
  <div class="btn-container">
    <a href="#" id="facebook-login" class="facebook-login"></a>
    <div class="or"></div>
    <a href="#" id="equipe-login" class="equipe-login"></a>
  </div>
  <div id='equipe-forms'>
    <a id='close-btn'></a>
    <form name='sso-login' id='sso-login-form' action='#'>
      <div class='form-title'></div>
      <input type='email' name='email' placeholder='E-mail' /><br />
      <input type='text' name='username' placeholder='Pseudo' /><br />
      <input type='password' name='password' placeholder='Mot de passe' required /><br />
      <input type='submit' class='hidden-submit' />
      <div class='submit-btn' id='login-btn'></div>
    </form>
    <div class='or'></div>
    <form name='sso-register' id='sso-register-form' action='#'>
      <div class='form-title'></div>
      <input type='email' name='email' placeholder='E-mail' required /><br />
      <input type='text' name='username' placeholder='Pseudo' required /><br />
      <input type='password' name='password' placeholder='Mot de passe' required /><br />
      <input type='submit' class='hidden-submit' />
      <div class='submit-btn' id='register-btn'></div>
    </form>
  </div>
</div>
