<div class="fb-reward"></div>
<div class="or"></div>
<div class="btn-container">
  <a href="#" id="facebook-login" class="facebook-login"></a>
  <a href="#" id="email-login" class="email-login"/></a>
</div>
<form id="login" method="post">
  <input name="email" type="email" placeholder="email" id="email" require><br><br>
  <div id="radio" class="radio box-align">
    <div class="input">
      <label>
        <input type="radio" name="gender" value="male" checked>
        <br>
        Male
      </label>
    </div>
    <div class="input last">
      <label>
        <input type="radio" name="gender" value="female">
        <br>
        Female
      </label>
    </div>
    <div class="clearfix"></div>
  </div>
  <br><br>
  <input type="submit" value="" id="submit">
</form>
