<div id='flipper'>
  <div class="btn-container">
    <a href="#" id="facebook-login" class="facebook-login"></a>
    <a href="#" id="equipe-login" class="equipe-login"></a>
    <a href="#" id="temp-login" class="temp-login"></a>
  </div>
  <div id='temp-form'>
    <a id='close-btn'></a>
    <form name='temp-login' id='temp-login-form' action='#'>
      <input type='text' name='username' placeholder='username' required /><br />
      <input type='submit' value='login' name='submit' id='temp-btn' />
    </form>
  </div>
  <div id='equipe-forms'>
    <a id='close-btn'></a>
    <form name='sso-login' id='sso-login-form' action='#'>
      <input type='text' name='username' placeholder='username' required /><br />
      <input type='password' name='password' placeholder='password' required /><br />
      <input type='submit' value='login' name='submit' id='login-btn' />
    </form>
    <p>or</p>
    <form name='sso-register' id='sso-register-form' action='#'>
      <input type='email' name='email' placeholder='email' required /><br />
      <input type='text' name='username' placeholder='username' required /><br />
      <input type='password' name='password' placeholder='password' required /><br />
      <input type='submit' value='register' name='submit' id='register-btn' />
    </form>
  </div>
</div>