<a href="#home" class="home-btn"></a>
<div class="title"></div>


<div class="content-container">
  <div class="button {{music}}" id="option-music"></div>
  <div class="button {{fx}}" id="option-fx"></div>
  <br />

  <div class="button {{info_notif}}" id="option-info-notif"></div>
  <div class="button {{facebook}}" id="option-facebook-connect"></div>
  <br />

  <a class="button" id="option-tutorial" href='#tutorial'></a>
  <div class="button" id="option-help"></div>
  <br />

  <div class="button" id="option-credits"></div>
</div>
