<a href="#home" class="home-btn"></a>
<div class="title"></div>


<div class="content-container">
  <div class="button {{sound}}" id="option-sound"></div>
  <div class="button {{info_notif}}" id="option-info-notif"></div>
  <br />

  <a class="button" id="option-tutorial" href='#tutorial'></a>
  <div class="button" id="option-help"></div>
  <br />

</div>
