<a id='close-btn' href='#options'></a>
<div class='screen' style="background-image:url(../images/tutorial/tutoriel_{{currentIndex}}.jpg)"></div>
<ul id='pagination'>
  <li class='current'></li>
  <li></li>
  <li></li>
</ul>
<div id='next-btn'></div>