@import 'nib'
@import '../mixins.styl'

@-webkit-keyframes inverseBounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(30px);}
  60% {-webkit-transform: translateY(15px);}
}

@-moz-keyframes inverseBounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(30px);}
  60% {-moz-transform: translateY(15px);}
}

@-o-keyframes inverseBounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(30px);}
  60% {-o-transform: translateY(15px);}
}
@keyframes inverseBounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(30px);}
  60% {transform: translateY(15px);}
}

.inverseBounce {
  -webkit-animation-name: inverseBounce;
  -moz-animation-name: inverseBounce;
  -o-animation-name: inverseBounce;
  animation-name: inverseBounce;
}

#iphone5bg
  &.dupa-page-568h
    background-image: url("../images/common/background.png")
    background-size: 100% 100%

#global-container
  &.iphone5
    .dupa-page
      background: none
    .bonus-container
      top: 83.5%
    .btn-menu
      left: -8.5%
    .chrono-container
      left: -8%
    .jackpot-container
      left: 94%
    .question-container
      top: 6%
      left: 0%
      width: 95%
      height: 77%
      .question-theme-container
        width: 25%
      .question-photo
        width: 32.5%
      .question-content-container
        width: 64%
      .question-propositions-container
        width: 67%
        .proposition-container
          width: 46%
          margin: 2%

#countdown
  absolute: top 0% left 0%
  width: 100%
  height: 100%
  z-index: 5000
  background-color: rgba(0, 0, 0, 0.4)
  #countdown-container
    relative: top 26%
    margin: 0 auto
    width: 13.7em
    height: 13.7em
    background-color: #c5020d
    border-radius: 50%
    #countdown-value
      font-family: open_sansextrabold
      color: #fff
      font-size: 0em
      overflow: hidden
      // stroke(black)
      width: 100%
      height: 100%
      padding-top 45%
      text-align: center
      &.big
        transition: all 0.2s ease
        font-size: 6em
        padding-top: 15%

.dupa-stage
  position: relative
  width: 100%
  height: 100%
  background-image: url('../images/common/background.png')
  background-size: 100% 100%
  color: white
  .btn-menu
    absolute: top 1% left 1%
    width: 8%
    height: 11%
    display: inline-block
    background-image: url('../images/ingame/bt_home.png')
    background-repeat: no-repeat
    background-size: contain
    cursor: pointer

  .chrono-container
    absolute: top 17% left 1.5%
    width: 6%
    height: 81%
    background-image: url("../images/ingame/timer.png")
    background-repeat: no-repeat
    background-size: 100% 100%
    font-family: grilled
    .chrono-chrono
      absolute: top -5.5% left 9%
      width: 82%
      height: 20%
      background-image: url("../images/ingame/timer_chrono.png")
      background-repeat: no-repeat
      background-size: contain
      z-index: 3
    .chrono-time
      absolute: top 13% left 12%
      z-index: 3
      width: 75%
      text-align: center
    .chrono-filler-container
      absolute: bottom 1.4% left 8%
      width: 83%
      height: 97.4%
      z-index: 2
      overflow: hidden
      .chrono-filler
        position: absolute
        top: 0%
        width: 100%
        height: 100%
        background-image: linear-gradient(red, orange, yellow, green)
        background-size: contain
        transition: top linear 1s

    @media screen and (min-width: 1024px)
      .chrono-filler-container
        absolute: bottom 1.4% left 9.7%

  .question-container
    absolute: top 7% left 10%
    width: 76%
    height: 71%

    .question-photo
      relative: top 5% left 1%
      width: 39.9%
      height: 93%
      float: left
      background-image: url("http://www.karim-benzema.net/wp-content/uploads/2009/06/une_lequipe.jpg")
      background-repeat: no-repeat
      background-size: 100% 100%
      border: 0.3em solid black
      border-radius: 0.5em

    .question-theme-container
      relative: top 4% left 3%
      width: 30%
      height: 8%
      float: left
      background-image: url("../images/ingame/title.png")
      background-repeat: no-repeat
      background-size: contain
      .question-theme
        relative: top 3% left 3%
        width: 75%          // The background is not a rectangle, but an half-arrow
        height: 94%
        font-family: speedregular

    .question-content-container
      relative: top 3.7% left 3%
      width: 56%
      height: 30%
      float: left
      background-image: url("../images/ingame/box_question.png")
      background-repeat: no-repeat
      background-size: 100% 100%
      .question-content
        relative: top 3% left 3%
        width: 94%
        height: 94%
        font-family: ramblabold

    .question-propositions-container
      relative: top 7% left 2%
      width: 60%
      height: 60%
      float: left

      .proposition-container
        relative: top 5% left 0%
        width: 43%
        height: 36%
        margin: 3%
        float: left
        cursor: pointer
        background-image: url("../images/ingame/answer.png")
        background-repeat: no-repeat
        background-size: 100% 100%
        &.animated
          animation-duration: 250ms
        &.success
          background-image: url("../images/ingame/answer_good.png")
        &.error
          background-image: url("../images/ingame/answer_bad.png")
        .proposition
          relative: top -4% left -1%
          width: 90%
          height: 85%
          font-family: ramblabold
          text-align: center
          &.animated
            animation-duration: 300ms

        .massOpinion
          absolute: top -16% right -13%
          width: 35%
          height: 37%
          border-radius: 20%
          line-height: 200%
          text-align: center
          background: #c50000
          display: none
          font-family: grilled


  .bonus-container
    absolute: top 83% left 13%
    width: 75%
    height: 17%
    background-image: url("../images/ingame/box_bonus.png")
    background-repeat: no-repeat
    background-size: contain
    .bonus
      relative: top 17% left 6%
      float: left
      height: 61%
      width: 13.6%
      margin: 1% 2%
      cursor: pointer
      background-repeat: no-repeat
      background-size: contain
      .quantity
        relative: top -10% left 76%
        width: 35%
        height: 47%
        border-radius: 400%
        line-height: 170%
        text-align: center
        background: #c50000
        font-family: grilled

  .jackpot-container
    absolute: top 2% left 85%
    width: 15%
    height: 96%
    font-family: grilled
    #total-jackpot
      background-image: url("../images/ingame/box_score.png")
      background-repeat: no-repeat
      background-size: contain
      z-index: 50
      margin: 0 auto
      font-size: 1.4em
      width: 91%
      height: 8.5%
      text-align: center
      padding-top: 7%
      absolute: top 2% left 3%

    // Default
    #threshold-container
      z-index: 1
      width: 56%
      height: 93%
      absolute: top 10% left 21%
      .threshold
        width: 100%
        height: 9.5%
        padding-top: 18%
        z-index: 1
        color: #75634e
        border-right: 0.2em solid #b3b3b3
        border-left: 0.2em solid #b3b3b3
        border-bottom: 0.1em solid #5f5f5f
        background-repeat: no-repeat
        background-size: 100% 100%
        background-image: url("../images/ingame/threshold_box.png")
        text-align: center
        &:nth-child(0)
          border-top: 0.2em solid #b3b3b3
        &:nth-last-child(1)
          border-bottom: 0.2em solid #b3b3b3
        &.highlighted
          z-index: 5
          color: #f9e4f3
          background-image: url("../images/ingame/threshold_box_highlighted.png")
        &.gold
          background-image: url("../images/ingame/threshold_box_gold.png")
          color: #744141

    #jackpot-marker
      absolute: top 91% left 56%
      width: 45%
      height: 7%
      z-index: 50
      background-image: url("../images/ingame/repere.png")
      background-repeat: no-repeat
      background-size: contain
      transition: top ease-in 300ms
      animation-delay: -.3s
      animation-duration: 1.2s
      &.gold
        background-image: url("../images/ingame/gold_repere.png")
