@import 'nib'
@import '../mixins.styl'

.dupa-stage
  position: relative
  width: 100%
  height: 100%
  background: white


  .home-btn
    absolute: top 1% left 0.7%
    width: 7.4%
    height: 55%
    display: inline-block
    background-image: url('../images/common/home.png')
    background-repeat: no-repeat
    background-size: contain

  .chrono-container
    absolute: top 9% left 3%
    width: 6%
    height: 83%
    background: red

  .bonus-container
    absolute: top 83% left 13%
    width: 68%
    height: 17%
    background: green
    .bonus
      background: purple
      position: relative
      float: left
      height: 90%
      width: 18%
      margin: 1%
      cursor: pointer
      .quantity
        background: red
        relative: top -10% left 87%
        height: 28%
        width: 20%
        font-size: .8em
        text-align: center

  .jackpot-container
    absolute: top 1% left 83%
    width: 15%
    height: 96%
    background: purple

  .question-container
    absolute: top 4% left 13%
    width: 68%
    height: 71%
    background: blue

    .question-photo
      relative: top 8% left 3%
      width: 40%
      height: 84%
      float: left
      background: purple

    .question-theme
      relative: top 4% left 6%
      width: 21%
      height: 8%
      float: left
      background: green

    .question-content
      relative: top 4% left 6%
      width: 50%
      height: 30%
      float: left
      background: green

    .question-propositions-container
      relative: top 10% left 6%
      width: 50%
      height: 44%
      float: left
      background: red

      .proposition
        relative: top 5% left 0%
        width: 43%
        height: 36%
        margin: 3%
        float: left
        cursor: pointer

        .massOpinion
          absolute: top -16% right -13%