@import 'nib'
@import '../mixins.styl'

@-webkit-keyframes inverseBounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(30px);}
  60% {-webkit-transform: translateY(15px);}
}

@-moz-keyframes inverseBounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(30px);}
  60% {-moz-transform: translateY(15px);}
}

@-o-keyframes inverseBounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(30px);}
  60% {-o-transform: translateY(15px);}
}
@keyframes inverseBounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(30px);}
  60% {transform: translateY(15px);}
}

.inverseBounce {
  -webkit-animation-name: inverseBounce;
  -moz-animation-name: inverseBounce;
  -o-animation-name: inverseBounce;
  animation-name: inverseBounce;
}

#iphone5bg
  &.dupa-page-568h
    background-image: url("../images/common/background.png")
    background-size: 100% 100%

#global-container
  &.iphone5
    .dupa-page
      background: none

.dupa-stage
  position: relative
  width: 100%
  height: 100%
  background-image: url('../images/common/background.png')
  background-size: 100% 100%
  color: white
  .btn-menu
    absolute: top 1% left 6%
    width: 8%
    height: 11%
    display: inline-block
    background-image: url('../images/ingame/bt_home.png')
    background-repeat: no-repeat
    background-size: contain
    cursor: pointer

  #countdown
    absolute: top 22% left 0%
    width: 100%
    text-align: center
    font-family: grilled
    color: #c80000
    font-size: 15em
    z-index: 20
    stroke(black)

  .chrono-container
    absolute: top 17% left 7%
    width: 6%
    height: 81%
    background-image: url("../images/ingame/timer.png")
    background-repeat: no-repeat
    background-size: 100% 100%
    font-family: grilled
    .chrono-chrono
      absolute: top -5.5% left 9%
      width: 82%
      height: 20%
      background-image: url("../images/ingame/timer_chrono.png")
      background-repeat: no-repeat
      background-size: contain
      z-index: 3
    .chrono-time
      absolute: top 13% left 12%
      z-index: 3
      width: 75%
      text-align: center
    .chrono-filler-container
      absolute: bottom 1.4% left 8%
      width: 83%
      height: 97.4%
      z-index: 2
      overflow: hidden
      .chrono-filler
        position: absolute
        top: 0%
        width: 100%
        height: 100%
        background-image: linear-gradient(red, orange, yellow, green)
        background-size: contain
        transition: top linear 1s

    @media screen and (min-width: 1024px)
      .chrono-filler-container
        absolute: bottom 1.4% left 9.7%

  .question-container
    absolute: top 7% left 16%
    width: 68%
    height: 71%

    .question-photo
      relative: top 5% left 1%
      width: 45%
      height: 93%
      float: left
      background-image: url("../images/ingame/photo.png")
      background-repeat: no-repeat
      background-size: contain

    .question-theme-container
      relative: top 4% left 3%
      width: 30%
      height: 8%
      float: left
      background-image: url("../images/ingame/title.png")
      background-repeat: no-repeat
      background-size: contain
      .question-theme
        relative: top 3% left 3%
        width: 75%          // The background is not a rectangle, but an half-arrow
        height: 94%
        font-family: speedregular

    .question-content-container
      relative: top 3.7% left 3%
      width: 50%
      height: 30%
      float: left
      background-image: url("../images/ingame/box_question.png")
      background-repeat: no-repeat
      background-size: contain
      .question-content
        relative: top 3% left 3%
        width: 94%
        height: 94%
        font-family: ramblabold

    .question-propositions-container
      relative: top 7% left 2%
      width: 54%
      height: 60%
      float: left

      .proposition-container
        relative: top 5% left 0%
        width: 43%
        height: 36%
        margin: 3%
        float: left
        cursor: pointer
        background-image: url("../images/ingame/answer.png")
        background-repeat: no-repeat
        background-size: 100% 100%
        &.animated
          animation-duration: 250ms
        &.success
          background-image: url("../images/ingame/answer_good.png")
        &.error
          background-image: url("../images/ingame/answer_bad.png")
        .proposition
          relative: top -4% left -1%
          width: 90%
          height: 85%
          font-family: ramblabold
          text-align: center
          &.animated
            animation-duration: 300ms

        .massOpinion
          absolute: top -16% right -13%
          width: 35%
          height: 37%
          border-radius: 20%
          line-height: 200%
          text-align: center
          background: #c50000
          display: none
          font-family: grilled


  .bonus-container
    absolute: top 83% left 13%
    width: 75%
    height: 17%
    background-image: url("../images/ingame/box_bonus.png")
    background-repeat: no-repeat
    background-size: contain
    .bonus
      relative: top 17% left 6%
      float: left
      height: 61%
      width: 13.6%
      margin: 1% 2%
      cursor: pointer
      background-repeat: no-repeat
      background-size: contain
      .quantity
        relative: top -10% left 76%
        width: 35%
        height: 47%
        border-radius: 400%
        line-height: 170%
        text-align: center
        background: #c50000
        font-family: grilled

  .jackpot-container
    absolute: top 2% left 83%
    width: 15%
    height: 96%
    background-image: url("../images/ingame/score.png")
    background-repeat: no-repeat
    background-size: contain
    font-family: grilled
    #total-jackpot
      relative: top .8% left 2%
      width: 95%
      height: 8%
      text-align: center
      padding: 7% 0

    // Default
    .threshold
      relative: top 1% left 26.5%
      width: 45.3%
      height: 9.01%
      padding: 10% 0
      text-align: center
      z-index: 1
      color: #75634e
      &.highlighted
        .value
          color: #f9e4f3
        &.gold
          color: #744141
      .value
        position: relative
        z-index: 10
      .highlighted
        absolute: top 0% left 0%
        z-index: 5
        width: 102%
        height: 100%
        background-image: url("../images/ingame/timer_in.png")
        background-repeat: no-repeat
        background-size: 100% 100%
        &.gold
          background-image: url("../images/ingame/gold_timer_in.png")
    // Iphone
    @media screen and (max-width: 959px)
      .threshold
        padding: 19% 0
        .highlighted
          top: 25%
          left: 5%
    // Web
    @media screen and (min-width: 960px) and (max-width: 1023px)
      .threshold
        .highlighted
          top: 0%
          left: 0%
    // Ipad
    @media screen and (min-width: 1024px)
      .threshold
        padding: 17% 0
        .highlighted
          width: 102%
          height: 105%
          top: 9%
          left: 2%
    // Iphone 5
    @media only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2)
      .threshold
        padding: 12% 0
        .highlighted
          width: 102%
          height: 105%
          top: -4%
          left: 0%

    #jackpot-marker
      absolute: top 91% left 68%
      width: 45%
      height: 7%
      z-index: 50
      background-image: url("../images/ingame/repere.png")
      background-repeat: no-repeat
      background-size: contain
      transition: top ease-in 300ms
      animation-delay: -.3s
      animation-duration: 1.2s
      &.gold
        background-image: url("../images/ingame/gold_repere.png")
