@import 'nib'
@import '../mixins.styl'

.game-over
  width: 100%
  height: 100%
  background-image: url("../images/common/background.png")
  background-size: 100% 100%
  position: relative
  .header-container
    width: 100%
    height: 11%
    position: absolute
    .home-btn
      width: 7.4%
      height: 100%
      display: inline-block
      background-image: url('../images/common/home.png')
      background-repeat: no-repeat
      background-size: contain
      relative: top 15% left 0.7%
  .content-container
    relative: top 16%
    width: 88.6%
    height: 84.8%
    background-size: 100% 100%
    background-repeat: contain
    margin: 0 auto
    padding: 8.5% 2% 0 2%
    background-image: url('../images/game-over/small-background.png')
    .title
      width: 95%
      height: 20%
      text-align: center
      margin: 0 auto 0 auto
      font: 1.8em dax
      color: black
      .jetons
        display: block
        width: 6.5%
        height: 30%
        relative: left 2%
        background-image: url('../images/home/common/credit.png')
        background-size: contain
        background-repeat: no-repeat
      .jetons-number
        color: #D80505

    .blocks-container
      width: 86%
      height: 50%
      margin: 0 auto
      position: relative
      padding: 1%
      .block
        float: left
        position: relative
        width: 41%
        height: 100%
        margin-right: 9%
        top: 15%
        &.stats
          margin-right: 0
          table
            width: 100%
            height: 100%
            .name
              font-family: ramblabold
            .number
              color: #D80505
              font: 1.3em ramblabold
        &.jackpot
          top: 40%
          .title
            relative: left 10%
            width: 66%
            height: 24%
            background-image: url('../images/game-over/score.png')
            background-size: contain
            background-repeat: no-repeat
          .value
            relative: left 7%
            width: 59%
            text-align: right
            display: block
            color: black
            font: 1.7em grilled

    .replay-btn
      width: 33.8%
      height: 18.7%
      background-image: url('../images/game-over/rejouer.png')
      background-size: contain
      background-repeat: no-repeat
      display: block
      margin: 2% auto 0 auto
      &:active
        background-image: url('../images/game-over/rejouer_a.png')
