<div id="popup" class="popup no-more-coins" style="z-index:100{{level}}" data-key="{{key}}">
  <h1 class='title'>Oh non !</h1>
  <br/>
  <p class='text-container'>
    Il semblerait que tu n'aies plus assez de vies
  </p>
  <div class="btn-container">
    <a href="#shop" class="ok btn remove"></a>
  </div>
</div>
