<div id="popup" class="popup pause" style="z-index:100{{level}}" data-key="{{key}}">
  <h1 class='title'>Attention !</h1>
  <p class='text-container'>
    Le chrono tourne... reprends vite pour ne pas perdre la partie !
  </p>
  <div class="btn-container">
    <a class="ok resume btn remove"></a>
    <a href="#home" class="quit btn remove"></a>
    <div class="clearfix"></div>
    <div class="sound btn {{sound}}"></div>
  </div>
</div>
