<div class="btn-menu">MENNU</div>
<div class='chrono-container'></div>
<div class='question-container'>
  <div class='question-photo'></div>
  <div class='question-theme'></div>
  <div class='question-content'></div>
  <div class='question-propositions-container'>
  </div>
</div>
<div class='bonus-container'>
  {{#each bonus}}
    <div class='bonus' id='{{name}}'>
      <div class='quantity'>{{quantity}}</div>
    </div>
  {{/each}}
</div>
<div class='jackpot-container'></div>