<div class="btn-menu"></div>

<div class='chrono-container'>
  <div class='chrono-chrono'>
    <div class='chrono-arrow'></div>
  </div>
  <div class='chrono-time'></div>
  <div class='chrono-filler-container'>
    <div class='chrono-filler'></div>
  </div>
</div>

<div class='question-container'>
  <div class='question-photo' data-sport=''></div>
  <div class='question-theme-container'>
    <div class='question-theme-ghost'></div>
    <div class='question-theme'></div>
    <div class='question-theme-right'></div>
  </div>
  <div class='question-content-container'>
    <div class='question-content resize'></div>
  </div>

  <div class='question-propositions-container'>
  </div>
</div>

<div class='bonus-container'>
  {{#each bonus}}
    <div class='bonus' id='{{name}}'>
      <div class='quantity'>{{quantity}}</div>
    </div>
  {{/each}}
</div>

<div class='jackpot-container'>
  <div id="total-jackpot">0</div>
  <div id='threshold-container'>
    {{#each thresholds}}
      <div class='threshold' data-value="{{this}}">{{this}}</div>
    {{/each}}
  </div>
  <div id='jackpot-marker'></div>
</div>
